{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Dance styles with fees and timings</h1>
     <div class="row text-white">
         <table class=" mb-5">
             <tbody>
                 <tr class="mb-4">
                     <th>Zumba</th>
                     <td>Monday, wednesday, friday</td>
                     <td>07:00pm to 08:00pm (advanced level)</td>
                     <td>05:00pm to 06:00pm (beginners level)</td>
                 </tr>
                <tr class="mb-4">
                     <th>Hip-hop</th>
                     <td>Monday, wednesday, friday</td>
                     <td>08:00pm to 09:00pm (advanced level)</td>
                     <td>05:00pm to 06:00pm (beginners level)</td>
                 </tr>
                 <tr class="mb-4">
                     <th>Krumping</th>
                     <td>Tuesday, thursday, saturday</td>
                     <td>07:00pm to 08:00pm (advanced level)</td>
                     <td>05:00pm to 06:00pm (beginners level)</td>
                 </tr>
                <tr class="mb-4">
                     <th>Jazz</th>
                     <td>Sunday, wednesday, saturday</td>
                     <td>07:00pm to 08:00pm (advanced level)</td>
                     <td>05:00pm to 06:00pm (beginners level)</td>
                 </tr>
                <tr class="mb-4">
                     <th>Belly dance</th>
                     <td>Tuesday, thursday, saturday</td>
                     <td>07:00pm to 08:00pm (advanced level)</td>
                     <td>05:00pm to 06:00pm (beginners level)</td>
                 </tr>
             </tbody>
         </table>
     </div>
    <div class="row text-white">
         <table class="border-warning mb-5">
            <thead>
                <tr>
                    <th>Dance styles</th>
                    <th>Fees for advanced class</th>
                    <th>Fees for beginners class</th>
                </tr>
            </thead>
             <tbody>
                 <tr>
                     <td>Zumba</td>
                     <td> Rs 3000</td>
                     <td> Rs 2000</td>
                 </tr>
                <tr>
                     <td>Hip-hop</td>
                     <td> Rs 4000</td>
                     <td> Rs 2000</td>
                 </tr>
                 <tr>
                     <td>Krumping</td>
                     <td> Rs 4000</td>
                     <td> Rs 2000</td>
                 </tr>
                <tr>
                     <td>Jazz</td>
                     <td> Rs 4000</td>
                     <td> Rs 2000</td>
                 </tr>
                <tr>
                     <td>Belly-dance</td>
                     <td> Rs 4000</td>
                     <td> Rs 2000</td>
                 </tr>
             </tbody>
         </table>
     </div>
</div>
{% endblock content %}
